# Executables files
test
test.exe

# Temporary files
vsl.tmp.c
fns.txt

!/bin/test

/docs/build
vtl
vls.log

# Compiled binaries and shared libraries
*.so
*.dylib
*.dll
examples/*/main
examples/*/main.exe
