name: VTL Continuous Integration

concurrency:
  group: ci-${{ github.event.number }}
  cancel-in-progress: true

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  schedule:
    - cron: "31 1,12 * * *"

  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  validate-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout VTL
        uses: actions/checkout@v2
        with:
          path: vtl

      - name: Setup V
        uses: vlang/setup-v@v1
        with:
          check-latest: true

      - name: V doctor
        run: v doctor

      - name: Install VSL and dependencies
        run: |
          v install vsl
          sudo apt-get install --quiet -y --no-install-recommends gfortran liblapacke-dev libopenblas-dev libgc-dev

      - name: Copy VTL source code to V Modules
        run: cp -rf ./vtl ~/.vmodules

      - name: Validate Docs
        run: |
          cd ./vtl
          v check-md .

  fmt-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout VTL
        uses: actions/checkout@v2
        with:
          path: vtl

      - name: Setup V
        uses: vlang/setup-v@v1
        with:
          check-latest: true

      - name: V doctor
        run: v doctor

      - name: Install VSL and dependencies
        run: |
          v install vsl
          sudo apt-get install --quiet -y --no-install-recommends gfortran liblapacke-dev libopenblas-dev libgc-dev

      - name: Move VTL source code to V Modules
        run: mv ./vtl ~/.vmodules

      - name: Verify Fmt
        continue-on-error: true
        run: v fmt -verify ~/.vmodules/vtl

  run-tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04]

    steps:
      - name: Checkout VTL
        uses: actions/checkout@v2
        with:
          path: vtl

      - name: Setup V
        uses: vlang/setup-v@v1
        with:
          check-latest: true

      - name: V doctor
        run: v doctor

      - name: Install VSL and dependencies
        run: |
          v install vsl
          sudo apt-get install --quiet -y --no-install-recommends gfortran liblapacke-dev libopenblas-dev libgc-dev

      - name: Move VTL source code to V Modules
        run: mv ./vtl ~/.vmodules

      - name: Execute Tests using Pure V Backend
        run: ~/.vmodules/vtl/bin/test

      - name: Execute Tests using Pure V Backend with Pure C Blas
        run: ~/.vmodules/vtl/bin/test --use-cblas
        if: ${{ matrix.os != 'ubuntu-18.04' }}

      - name: Execute Tests using Pure V Backend and Garbage Collection enabled
        run: ~/.vmodules/vtl/bin/test --use-gc boehm

      - name: Execute Tests using Pure V Backend with Pure C Blas and Garbage Collection enabled
        run: ~/.vmodules/vtl/bin/test --use-cblas --use-gc boehm
        if: ${{ matrix.os != 'ubuntu-18.04' }}
